<a href="https://colab.research.google.com/github/westlfower/pythone/blob/main/1210%EB%B0%A9%EA%B3%BC%ED%9B%84merge%EC%97%B0%EC%8A%B5_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

np.random.seed(0)

names = [f'학생{i}' for i in range(1, 21)]
student_id = [f'S{i:03d}' for i in range(1, 21)]

# 1학년 명렬표
classes_1 = np.random.choice(['1-1', '1-2'], size=20)
grade1 = pd.DataFrame({
    '학생ID': student_id,
    '이름': names,
    '1학년반': classes_1
})

# 2학년 승급 후 명렬표
classes_2 = np.random.choice(['2-1', '2-2'], size=20)
grade2 = pd.DataFrame({
    '학생ID': student_id,
    '이름': names,
    '2학년반': classes_2
})

In [ ]:
merged = pd.merge(
    grade1,
    grade2,
    on=['학생ID', '이름'],   # 공통 키
    how='inner'            # 교집합
)

print(merged)

    학생ID    이름 1학년반 2학년반
0   S001   학생1  1-1  2-1
1   S002   학생2  1-2  2-2
2   S003   학생3  1-2  2-2
3   S004   학생4  1-1  2-1
4   S005   학생5  1-2  2-1
5   S006   학생6  1-2  2-2
6   S007   학생7  1-2  2-2
7   S008   학생8  1-2  2-2
8   S009   학생9  1-2  2-2
9   S010  학생10  1-2  2-1
10  S011  학생11  1-2  2-2
11  S012  학생12  1-1  2-1
12  S013  학생13  1-1  2-2
13  S014  학생14  1-2  2-1
14  S015  학생15  1-1  2-2
15  S016  학생16  1-1  2-2
16  S017  학생17  1-1  2-1
17  S018  학생18  1-1  2-2
18  S019  학생19  1-1  2-2
19  S020  학생20  1-2  2-1

In [ ]:
merged_left = pd.merge(
    grade1,
    grade2[['학생ID', '2학년반']],  # 필요한 열만
    on='학생ID',
    how='left'
)

print(merged_left)

    학생ID    이름 1학년반 2학년반
0   S001   학생1  1-1  2-1
1   S002   학생2  1-2  2-2
2   S003   학생3  1-2  2-2
3   S004   학생4  1-1  2-1
4   S005   학생5  1-2  2-1
5   S006   학생6  1-2  2-2
6   S007   학생7  1-2  2-2
7   S008   학생8  1-2  2-2
8   S009   학생9  1-2  2-2
9   S010  학생10  1-2  2-1
10  S011  학생11  1-2  2-2
11  S012  학생12  1-1  2-1
12  S013  학생13  1-1  2-2
13  S014  학생14  1-2  2-1
14  S015  학생15  1-1  2-2
15  S016  학생16  1-1  2-2
16  S017  학생17  1-1  2-1
17  S018  학생18  1-1  2-2
18  S019  학생19  1-1  2-2
19  S020  학생20  1-2  2-1