<a href="https://colab.research.google.com/github/westlfower/pythone/blob/main/1216%EB%B0%A9%EA%B3%BC%ED%9B%843%EA%B0%95_%EB%94%95%EC%85%94%EB%84%88%EB%A6%AC%EC%99%80_%EB%A6%AC%EC%8A%A4%ED%8A%B8%EB%A1%9C_%EB%8D%B0%EC%9D%B4%ED%84%B0%ED%94%84%EB%A0%88%EC%9E%84_%EA%B5%AC%ED%98%84%ED%9B%84_%ED%81%AC%EB%A1%9C%EC%8A%A4%EC%A7%91%EA%B3%84_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import random
df={'이름':[f'학생{i+1}' for i in range(20)],
    '반':[random.choice(['1반','2반','3반']) for _ in range(20)],
    '수학':[random.randint(0,100) for _ in range(20)]
    }

In [ ]:
df

{'이름': ['학생1',
  '학생2',
  '학생3',
  '학생4',
  '학생5',
  '학생6',
  '학생7',
  '학생8',
  '학생9',
  '학생10',
  '학생11',
  '학생12',
  '학생13',
  '학생14',
  '학생15',
  '학생16',
  '학생17',
  '학생18',
  '학생19',
  '학생20'],
 '반': ['1반',
  '1반',
  '1반',
  '3반',
  '1반',
  '3반',
  '1반',
  '2반',
  '2반',
  '2반',
  '2반',
  '3반',
  '3반',
  '3반',
  '2반',
  '1반',
  '1반',
  '2반',
  '1반',
  '2반'],
 '수학': [87,
  70,
  44,
  26,
  34,
  13,
  8,
  10,
  73,
  68,
  52,
  68,
  8,
  66,
  21,
  18,
  8,
  1,
  59,
  68]}

In [ ]:
cross_df={'반':['1반','2반','3반'],'수학점수 총합':[0,0,0]}

In [ ]:
for item, value in df.items():
  print(item,value)

이름 ['학생1', '학생2', '학생3', '학생4', '학생5', '학생6', '학생7', '학생8', '학생9', '학생10', '학생11', '학생12', '학생13', '학생14', '학생15', '학생16', '학생17', '학생18', '학생19', '학생20']
반 ['1반', '1반', '1반', '3반', '1반', '3반', '1반', '2반', '2반', '2반', '2반', '3반', '3반', '3반', '2반', '1반', '1반', '2반', '1반', '2반']
수학 [87, 70, 44, 26, 34, 13, 8, 10, 73, 68, 52, 68, 8, 66, 21, 18, 8, 1, 59, 68]

In [ ]:
for class_name, math_score in zip(df['반'], df['수학']):
    class_index = cross_df['반'].index(class_name)
    cross_df['수학점수 총합'][class_index] += math_score
display(cross_df)

{'반': ['1반', '2반', '3반'], '수학점수 총합': [984, 879, 543]}

In [ ]:
'''
파이썬의 zip() 함수는 여러 이터러블(예: 리스트, 튜플)을 병렬로 묶어주는 역할을 합니다. 각 이터러블에서 동일한 인덱스에 해당하는 요소들을 모아 튜플 형태로 반환하는 이터레이터를 생성합니다.

예를 들어, 두 개의 리스트 [1, 2, 3]과 ['a', 'b', 'c']가 있다면, zip() 함수를 사용하면 (1, 'a'), (2, 'b'), (3, 'c')와 같은 튜플 쌍을 얻을 수 있습니다.

가장 짧은 이터러블의 길이가 끝나면 zip() 함수도 종료됩니다.
파이썬에서 index() 메서드는 리스트나 문자열과 같은 시퀀스(sequence) 자료형에서 특정 값의 첫 번째 등장 위치(인덱스)를 찾아 반환하는 데 사용됩니다.

주요 특징:

반환 값: 찾으려는 값이 시퀀스 안에 있으면 해당 값의 가장 첫 번째 인덱스(0부터 시작)를 정수로 반환합니다.
에러 발생: 만약 찾으려는 값이 시퀀스 안에 없으면 ValueError를 발생시킵니다.
'''

"\n파이썬의 zip() 함수는 여러 이터러블(예: 리스트, 튜플)을 병렬로 묶어주는 역할을 합니다. 각 이터러블에서 동일한 인덱스에 해당하는 요소들을 모아 튜플 형태로 반환하는 이터레이터를 생성합니다.\n\n예를 들어, 두 개의 리스트 [1, 2, 3]과 ['a', 'b', 'c']가 있다면, zip() 함수를 사용하면 (1, 'a'), (2, 'b'), (3, 'c')와 같은 튜플 쌍을 얻을 수 있습니다.\n\n가장 짧은 이터러블의 길이가 끝나면 zip() 함수도 종료됩니다.\n"

In [ ]:
for class_name, math_score in zip(df['반'], df['수학']):
    class_index = cross_df['반'].index(class_name)
    print( class_index )
    cross_df['수학점수 총합'][class_index] += math_score

0
0
0
2
0
2
0
1
1
1
1
2
2
2
1
0
0
1
0
1

In [ ]:
cross_df['수학점수 총합'][1]

586

In [ ]:
#리스트  index
data=['김현준','이승헌','박자영','황진우']
data.index('이승헌')

1

In [ ]:
import re

text = "Hello, world! This is a test string."
pattern = r"test"

match = re.search(pattern, text)

if match:
    print(f"Pattern '{pattern}' found at index: {match.start()}")
else:
    print(f"Pattern '{pattern}' not found.")

# 다른 예시: 숫자 찾기
text2 = "User ID is 12345, transaction ID is ABCDE."
pattern2 = r"\d+"

match2 = re.search(pattern2, text2)

if match2:
    print(f"Pattern '{pattern2}' (first number) found at index: {match2.start()}")
    print(f"Found value: {match2.group()}")
else:
    print(f"Pattern '{pattern2}' not found.")

Pattern 'test' found at index: 24
Pattern '\d+' (first number) found at index: 11
Found value: 12345