<a href="https://colab.research.google.com/github/westlfower/pythone/blob/main/12164%EA%B0%95%ED%81%AC%EB%A1%9C%EC%8A%A4%ED%83%AD%EB%A8%B8%EC%A7%80%ED%94%BC%EB%B4%87.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)  # 결과 재현성 보장
df_crosstab = pd.DataFrame({
    '학생ID': range(1, 21),
    '반': np.random.choice(['1반', '2반', '3반'], 20),
    '성별': np.random.choice(['남', '여'], 20),
    '수학': np.random.randint(60, 101, 20)
})

# 예시 1: 반별 성별 빈도수 (가장 기본)
ct_freq = pd.crosstab(df_crosstab['반'], df_crosstab['성별'])
print("반별 성별 빈도:\n", ct_freq)
# 결과: 1반(남1,여4), 2반(남2,여4), 3반(남6,여3) [execute_python]

# 예시 2: 반별 성별 수학 평균 (values와 aggfunc 추가)
ct_mean = pd.crosstab(df_crosstab['반'], df_crosstab['성별'],
                      values=df_crosstab['수학'], aggfunc='mean').round(1)
print("\n반별 성별 수학 평균:\n", ct_mean)
# 결과: 1반(남73.0,여73.5), 2반(남78.5,여82.0), 3반(남78.5,여89.3) [execute_python]

반별 성별 빈도:
 성별  남  여
반
1반  1  4
2반  2  4
3반  6  3

반별 성별 수학 평균:
 성별     남     여
반
1반  61.0  82.0
2반  69.5  80.2
3반  75.2  74.3

In [2]:
# 두 데이터프레임 생성 (공통 키: 학생ID)
df_merge1 = pd.DataFrame({
    '학생ID': range(1, 21),
    '반': np.random.choice(['1반', '2반', '3반'], 20),
    '성별': np.random.choice(['남', '여'], 20),
    '국어': np.random.randint(60, 101, 20)
})

df_merge2 = pd.DataFrame({
    '학생ID': list(range(1, 16)) + [25, 26, 27],  # 일부 겹침 + 새 학생
    '과학': np.random.randint(60, 101, 18),
    '영어': np.random.randint(60, 101, 18)
})

# 예시 1: inner 조인 (공통 학생만)
merged_inner = pd.merge(df_merge1, df_merge2, on='학생ID', how='inner')
print("inner merge 샘플:\n", merged_inner.head())
# 결과: 1~15번 학생만 결합 (국어+과학+영어) [execute_python]

# 예시 2: left 조인 (왼쪽 데이터 기준, 누락은 NaN)
merged_left = pd.merge(df_merge1, df_merge2, on='학생ID', how='left')
print("\nleft merge 크기:", merged_left.shape)  # (20, 6)

inner merge 샘플:
    학생ID   반 성별  국어  과학  영어
0     1  2반  여  84  71  85
1     2  2반  여  66  93  73
2     3  2반  남  68  92  98
3     4  2반  여  83  82  86
4     5  2반  남  60  83  68

left merge 크기: (20, 6)

In [3]:
# 과목별 데이터로 변환 (긴 형태 → 피벗용)
df_pivot = pd.DataFrame({
    '학생ID': list(range(1, 21))*2,
    '반': np.repeat(np.random.choice(['1반', '2반', '3반'], 20), 2),
    '과목': ['국어']*20 + ['수학']*20,
    '점수': np.random.randint(60, 101, 40).tolist()
})

# 기본 피벗테이블: 반별 과목 평균
pivot_table = pd.pivot_table(df_pivot,
                             values='점수',    # 집계 대상
                             index='반',      # 행 기준
                             columns='과목',  # 열 기준
                             aggfunc='mean',  # 평균 계산
                             fill_value=0)    # NaN → 0
print("피벗테이블:\n", pivot_table.round(1))
# 결과: 1반(국어76.0,수학73.0), 2반(국어76.5,수학81.6), 3반(국어76.2,수학80.5) [execute_python]

피벗테이블:
 과목    국어    수학
반
1반  83.5  75.2
2반  87.8  78.6
3반  79.5  82.0