<a href="https://colab.research.google.com/github/westlfower/pythone/blob/main/%EB%B0%A9%EA%B3%BC%ED%9B%84_%EC%97%B0%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
i=0
for x in [10,5,8,5,7,8,9]:
  i=i+1
  print(f"x가 {x}:i는 {i}")

x가 10:i는 1
x가 5:i는 2
x가 8:i는 3
x가 5:i는 4
x가 7:i는 5
x가 8:i는 6
x가 9:i는 7

In [3]:
data=[1,2,3,4,5,6,7]
제곱=[]
for x in data:
  제곱.append(x*x)

In [5]:
제곱

[1, 4, 9, 16, 25, 36, 49]

In [ ]:
data